textarea { resize: none; }

.descripcionPelicula{
    width: 80%;  
}

.generoPelicula{
    width: 50%;  
}

.nombrePelicula{
 width: 50%;  
}

.FormCuadro{
    max-width: 90%;
}
.FormCuadro2{
    max-width: 90%;
}

.CardCita{
    width: 350px;
    margin-left: 5px;
    margin-right: 5px
    ;
}

.Master{display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }